Repository vlasovskikh/intellij-micropython, pull requests merged in 2020-06, with the labels that each got.

#79 microbit: Update uFlash to include micro:bit MicroPython v1.0
  src/main/kotlin/com/jetbrains/micropython/devices/MicroBitDeviceProvider.kt
Labels: CLA signed, Micro:bit, flash to device

#104 Updated Esp8266DeviceProvider.kt usbIds for FDTI programmer autodetect
  src/main/kotlin/com/jetbrains/micropython/devices/Esp8266DeviceProvider.kt
Labels: CLA signed, ESP8266, enhancement, flash to device

#86 Use posix filepaths
  scripts/microupload.py
Labels: CLA signed, ESP8266, Windows, flash to device

#105 Fixed control keys in REPL on Windows 10
  scripts/microrepl.py
Labels: REPL, Windows, help wanted
